body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

.container-fluid {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.header {
  position: relative;
  background: #fff;
  z-index: 10; }

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  align-items: center; }
  .navigation_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0; }
  .navigation-link {
    position: relative;
    color: #777777;
    text-decoration: none;
    font-weight: 600;
    padding-left: 1em;
    padding-right: 1em; }
    .navigation-link:hover {
      color: #5b6ceb;
      transition: 0.2s; }
      .navigation-link:hover::after {
        content: "";
        position: absolute;
        left: 30%;
        bottom: -5px;
        width: 40%;
        height: 2px;
        background-color: #5b6ceb; }

.section {
  margin-bottom: 90px; }
  .section_welcome {
    min-height: 600px;
    display: flex;
    height: 100%;
    align-items: center;
    background: url("../img/slider-bg.png") 0 0 no-repeat;
    background-size: cover;
    margin-top: -100px; }
    .section_welcome .welcome_title {
      font-size: 3em;
      text-transform: uppercase;
      color: #fff;
      width: 50%;
      margin-top: 60px;
      padding: 55px 0; }
  .section_features_title {
    font-size: 2em;
    text-transform: uppercase;
    color: #5b6ceb;
    text-align: center;
    margin-bottom: 80px; }
  .section_features .features_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .section_features .features_link {
    display: block;
    text-decoration: none;
    width: 48%; }
    .section_features .features_link:hover .features_card_image {
      opacity: .5;
      transition: 0.2s; }
  .section_features .features_card {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: 5px 0 15px #cac9c9;
    border-radius: 7px;
    margin: 1em .5em;
    background-color: #5b6ceb; }
    .section_features .features_card_image {
      width: 100%;
      height: auto;
      border-radius: 7px 0 0 7px; }
    .section_features .features_card_description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 40px;
      background-color: #fff;
      border-radius: 0 7px 7px 0; }
    .section_features .features_card_title {
      font-size: 1.5em;
      color: #777777;
      text-transform: uppercase;
      margin: 1em 0; }
    .section_features .features_card_text {
      font-size: 1em;
      color: #777777; }
    .section_features .features_card_info {
      font-size: 0.9em;
      color: #999999; }
  .section_about_us {
    height: 800px;
    background: #fff url("../img/lotos-decoration.png");
    background-position: bottom right;
    background-repeat: no-repeat; }
    .section_about_us_title {
      font-size: 3em;
      text-transform: uppercase;
      color: #fff;
      text-align: center;
      background-color: #6b79e2;
      padding: 50px 0;
      margin: 0; }
    .section_about_us .about_us_content {
      display: flex;
      flex-direction: row;
      height: 100%;
      align-items: center;
      margin: 150px 0; }
    .section_about_us .about_us_description {
      width: 48%; }
    .section_about_us .about_us_text {
      box-sizing: border-box;
      color: #777777;
      padding: 0 30px;
      width: 80%; }
    .section_about_us .about_us_slider_wrap {
      position: relative;
      width: 48%; }
      .section_about_us .about_us_slider_wrap .slider_arrows {
        list-style: none; }
        .section_about_us .about_us_slider_wrap .slider_arrows .arrow-icon {
          display: block;
          margin-left: auto;
          margin-right: auto;
          padding: calc(50% - 9.5px) 0; }
      .section_about_us .about_us_slider_wrap .arrow_prev,
      .section_about_us .about_us_slider_wrap .arrow_next {
        position: absolute;
        top: calc(50% - 25px);
        background-color: #fff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        z-index: 10; }
      .section_about_us .about_us_slider_wrap .arrow_prev {
        left: -10px; }
      .section_about_us .about_us_slider_wrap .arrow_next {
        right: -10px; }
      .section_about_us .about_us_slider_wrap .arrow_next:hover,
      .section_about_us .about_us_slider_wrap .arrow_prev:hover {
        cursor: pointer; }
      .section_about_us .about_us_slider_wrap .slider_item {
        outline: none; }
      .section_about_us .about_us_slider_wrap .slick-slide img {
        width: 100%; }

.footer {
  background-color: #5b6ceb;
  color: #fff; }
  .footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    padding: 60px 0; }
  .footer_about_title, .footer_contact_us_title {
    text-transform: uppercase;
    font-size: 1.25em; }
  .footer_about_text {
    font-weight: 300; }
  .footer_about {
    width: 45%; }
  .footer_contact_us {
    width: 45%; }
    .footer_contact_us_contacts {
      display: flex;
      flex-wrap: wrap; }
      .footer_contact_us_contacts .contact {
        position: relative;
        font-weight: 300;
        width: 40%;
        margin-bottom: 25px; }
      .footer_contact_us_contacts .address,
      .footer_contact_us_contacts .email,
      .footer_contact_us_contacts .phone,
      .footer_contact_us_contacts .website {
        display: inline-block;
        margin-left: 35px; }
        .footer_contact_us_contacts .address::before,
        .footer_contact_us_contacts .email::before,
        .footer_contact_us_contacts .phone::before,
        .footer_contact_us_contacts .website::before {
          position: absolute;
          top: 0;
          left: 0; }
      .footer_contact_us_contacts .address::before {
        content: url("../img/placeholder-icon.png"); }
      .footer_contact_us_contacts .email::before {
        content: url("../img/envelope-icon.png"); }
      .footer_contact_us_contacts .phone::before {
        content: url("../img/phone-call-icon.png"); }
      .footer_contact_us_contacts .website::before {
        content: url("../img/planet-earth-icon.png"); }
  .footer_socials {
    width: 50%; }
    .footer_socials .socials_menu {
      display: flex;
      list-style: none;
      padding: 0; }
    .footer_socials .socials_item {
      position: relative;
      width: 40px; }
      .footer_socials .socials_item .pinterest,
      .footer_socials .socials_item .twitter,
      .footer_socials .socials_item .facebook,
      .footer_socials .socials_item .google_plus,
      .footer_socials .socials_item .instagram {
        display: inline-block; }
        .footer_socials .socials_item .pinterest::before,
        .footer_socials .socials_item .twitter::before,
        .footer_socials .socials_item .facebook::before,
        .footer_socials .socials_item .google_plus::before,
        .footer_socials .socials_item .instagram::before {
          position: absolute;
          top: 0;
          left: 0; }
      .footer_socials .socials_item .pinterest::before {
        content: url("../img/pinterest-icon.png"); }
      .footer_socials .socials_item .twitter::before {
        content: url("../img/twitter-icon.png"); }
      .footer_socials .socials_item .facebook::before {
        content: url("../img/facebook-icon.png"); }
      .footer_socials .socials_item .google_plus::before {
        content: url("../img/google-plus-icon.png"); }
      .footer_socials .socials_item .instagram::before {
        content: url("../img/instagram-icon.png"); }
  .footer .copyright_info {
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    background-color: #5363d8;
    padding: 25px 0; }

@media (max-width: 768px) {
  .header {
    display: none; } }
